.modal {
  position: fixed;
}

.modal__content {
  border-radius: 20px;
  overflow: hidden;
  font-family: "Cabinet Grotesk regular", Arial, sans-serif;
  line-height: 24px;
  font-weight: 700;
}

.modal__content_type_image {
  padding: 0;
  position: relative;
}

.modal__caption {
  margin: 20px 32px 0;
  font-size: 20px;
}

.modal__delete-btn {
  background: transparent;
  border: none;
  color: #ff4d00;
  font-weight: 700;
  font-size: 20px;
  margin-right: 33.56px;
  cursor: pointer;
}

.modal__button-align {
  display: flex;
  justify-content: space-between;
}

.modal__weather {
  margin: 12px 32px 32px;
  font-size: 20px;
}

.modal__preview_close {
  position: absolute;
  top: 26px;
  right: 26px;
  border: none;
  background: transparent;
  cursor: pointer;
}
